<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="">
            Wendy Personal Assistant
          </a>
        </li>
        <li>
          <a href="">
            Sobre Nosotros
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store" target="_blank">
            Aplicacion Móvil
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{date | date: 'yyyy'}}, Desarrollado por
      <a href="https://www.linkedin.com/in/victorfernandezcotilla/" target="_blank">Víctor Fernández</a>
      y
      <a href="https://www.linkedin.com/in/javier-hernando-jorge-29099a182/" target="_blank">Javier Hernando</a>.
    </div>
  </div>
</footer>