<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Contactos</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Contactos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <table mat-table class="table" [dataSource]="dataSource">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let contact"> {{contact.phoneNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let contact">
                  <button (click)="openDetailContact(contact.contactId)" type="button" rel="tooltip"
                    title="Editar Contacto" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button *ngIf="contact.email != user.email" (click)="removeContact(contact.contactId)" type="button"
                    rel="tooltip" title="Borrar Contacto"
                    class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let contacts; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator [hidePageSize]="true"
            [length]="dataSource.data?.length" [pageSize]="5"> </mat-paginator>
            <!-- <table class="table" *ngIf="!contactsEmpty">
              <thead class="text-primary">
                <th> Nombre </th>
                <th> Email </th>
                <th> Teléfono </th>
                <th class="text-right"> Acciones </th>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts">
                  <td> {{contact.name +' '+ contact.lastName}}</td>
                  <td> {{contact.email}} </td>
                  <td> {{contact.phoneNumber}} </td>
                  <td class="td-actions text-right">
                    <button (click)="openDetailContact(contact.contactId)" type="button" rel="tooltip"
                      title="Editar Contacto" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button *ngIf="contact.email != user.email" (click)="removeContact(contact.contactId)" type="button"
                      rel="tooltip" title="Borrar Contacto"
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table> -->
            <p class="text-center" *ngIf="contactsEmpty">No tienes contactos.</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats text-right">
            <a (click)="openDetailContact()" style="cursor: pointer">
              <i class="now-ui-icons ui-1_simple-add"></i> Añadir contacto
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-3" *ngIf="detailIsVisible">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{titleDetail}} contacto</h4>
      </div>
      <form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div *ngIf="false" formControlName="id"></div>
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label><span *ngIf="form.controls.name.errors?.required" class="text-danger">*</span> Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Apellidos</label>
              <input type="text" class="form-control" placeholder="Apellidos" formControlName="lastName">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label><span
                  *ngIf="form.controls.phoneNumber.errors?.required || form.controls.phoneNumber.errors?.pattern"
                  class="text-danger">*</span>
                Teléfono</label>
              <input type="text" class="form-control" placeholder="Teléfono" formControlName="phoneNumber">
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label for="email"><span *ngIf="form.controls.email.errors?.required || form.controls.email.errors?.email"
                  class="text-danger">*</span> Email</label>
              <input name="email" id="email" type="email" class="form-control" placeholder="Email"
                formControlName="email">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <button [disabled]="form.invalid" class="btn btn-primary btn-block mb-1" type="submit"> {{titleDetail}}
            </button>
            <button class="btn btn-danger btn-block" (click)="closeDetail()">Cerrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>