<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Contactos</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Contactos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" *ngIf="!contactsEmpty">
              <thead class="text-primary">
                <th> Nombre </th>
                <th> Email </th>
                <th> Teléfono </th>
                <th class="text-right"> Acciones </th>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts">
                  <td> {{contact.fullName}}</td>
                  <td> {{contact.email}} </td>
                  <td> {{contact.phoneNumber}} </td>
                  <td class="td-actions text-right">
                    <button (click)="openDetailContact(contact.id)" type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button (click)="removeContact(contact.id)" type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-center" *ngIf="contactsEmpty">No tienes contactos.</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats text-right">
            <a (click)="openDetailContact()" style="cursor: pointer">
              <i class="now-ui-icons ui-1_simple-add"></i> Añadir contacto
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>