<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-43">
          Iniciar sesión
        </span>
        <h6 class="my-3" *ngIf="failedLogin">Credenciales incorrectas</h6>
        <div class="wrap-input100 validate-input" data-validate="Correo electrónico no válido"
          [ngClass]="{'alert-validate': form.controls.email.errors?.required || form.controls.email.errors?.email}">
          <input class="input100" type="text" name="email" formControlName="email">
          <span class="focus-input100"></span>
          <span class="label-input100">Correo electrónico</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="La contraseña es obligatoria"
          [ngClass]="{'alert-validate': form.controls.password.errors?.required}">
          <input class="input100" type="password" name="password" formControlName="password">
          <span class="focus-input100"></span>
          <span class="label-input100">Contraseña</span>
        </div>
        <div class="flex-sb-m w-full p-t-3 p-b-32">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Recuérdame
            </label>
          </div>
          <div>
            <a href="#" class="txt1">
              ¿Has olvidado la contraseña?
            </a>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button [disabled]="form.invalid" class="login100-form-btn" type="submit">
            Iniciar sesión
          </button>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('/assets/img/elderly-login.jpeg');">
      </div>
    </div>
  </div>