<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Comandos Wendy</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Habilitación de comandos</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr *ngFor="let command of commands | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" (click)="editCommand(command.commandId)"
                        [checked]="!command.isDisabled">
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">
                  <h6>{{command.title}}</h6>
                  {{command.description}}
                </td>
                <td>
                  <p *ngIf="command.isDisabled">Deshabilitado</p>
                  <p *ngIf="!command.isDisabled">Habilitado</p>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event">
          </pagination-controls>
          <style>
            .my-pagination /deep/ .ngx-pagination .current {
              background: #ADC698 !important;
            }
          </style>
        </div>
      </div>
    </div>
  </div>
</div>