<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Gráficos</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Salud</h5>
          <h4 class="card-title">Minutos de sueño</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <p *ngIf="this.sleepStatsNull" class="text-center">Datos no disponibles</p>
            <canvas id="sleepHours"></canvas>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Salud</h5>
          <h4 class="card-title">Corazón</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <p *ngIf="this.heartStatsNull" class="text-center">Datos no disponibles</p>
            <canvas id="heartRate"></canvas>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Deporte</h5>
          <h4 class="card-title">Pasos diarios</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <p *ngIf="this.stepStatsNull" class="text-center">Datos no disponibles</p>
            <canvas id="dailySteps"></canvas>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>