<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Mensajes</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mensajes con Wendy</h4>
          <hr>
        </div>
        <div class="card-body messages">
          <div class="table-responsive">
            <table class="table" *ngIf="!messagesEmpty">
              <thead class="text-primary">
                <th> Contenido </th>
                <th> Enviado </th>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages">
                  <td> {{message.content}} </td>
                  <td> {{message.created}} </td>
                </tr>
              </tbody>
            </table>
            <p class="text-center" *ngIf="messagesEmpty">No tienes mensajes.</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats text-right" *ngIf="!messagesEmpty">
            <i (click)="openAllMessages()" class="now-ui-icons arrows-1_minimal-right"></i> Ver más...
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Emails</h4>
          <hr>
        </div>
        <div class="card-body messages">
          <div class="table-responsive">
            <table class="table" *ngIf="!emailsEmpty">
              <thead class="text-primary">
                <th> Destinatario </th>
                <th> Sujeto </th>
                <th> Contenido </th>
              </thead>
              <tbody>
                <tr *ngFor="let email of emails">
                  <td> {{email.receiver}} </td>
                  <td> {{email.subject}} </td>
                  <td> {{email.content}}</td>
                </tr>
              </tbody>
            </table>
            <p class="text-center" *ngIf="emailsEmpty">No tienes emails.</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats text-right" *ngIf="!emailsEmpty">
            <i (click)="openAllEmails()" class="now-ui-icons arrows-1_minimal-right"></i> Ver más...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>