<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Mensajes</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mensajes con Wendy</h4>
          <hr>
        </div>
        <div class="card-body">
          <div class="mesgs">
            <div class="msg_history">
              <div *ngFor="let message of messages" [ngClass]="{
                'incoming_msg':message.isFromDevice,
                'outgoing_msg':!message.isFromDevice
              }">
                <div [ngClass]="{
                  'received_withd_msg':message.isFromDevice,
                  'sent_msg':!message.isFromDevice
                }">
                  <p>{{message.content}}</p>
                  <span class="time_date"> {{getFormattedTime(message.date)}}</span>
                </div>
              </div>
          </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" placeholder="Escribe un mensaje" name="messageToSend" [(ngModel)]="messageToSend" />
                <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Emails</h4>
          <hr>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table *ngIf="emails.data?.length > 0" mat-table class="table" [dataSource]="emails" >
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"></th>
                <td mat-cell *matCellDef="let email"><img class="messages-avatar" [src]="email.contact.photoDirectory">
                </td>
              </ng-container>
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Destinatario </th>
                <td mat-cell *matCellDef="let email"> {{email.contact.name + ' ' + email.contact.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef> Asunto </th>
                <td mat-cell *matCellDef="let email"> {{email.subject}} </td>
              </ng-container>
              <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef> Contenido </th>
                <td mat-cell *matCellDef="let email"> {{email.body}} </td>
              </ng-container>
              <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let email">
                  <button (click)="detailMessage(email)" type="button" rel="tooltip" title="Ver detalle"
                    class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsEmails"></tr>
              <tr mat-row *matRowDef="let emails; columns: columnsEmails"></tr>
            </table>
            <mat-paginator *ngIf="emails.data?.length > 0" [hidePageSize]="true" [length]="emails.data?.length" [pageSize]="5"> </mat-paginator>
            <p class="text-center" *ngIf="emails.data?.length == 0">No tienes emails.</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats text-right" *ngIf="emails.data?.length != 0">
            <!--<i (click)="openAllEmails()" class="now-ui-icons arrows-1_minimal-right"></i> Ver más... -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>