<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Cuenta</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar Cuenta</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre de usuario</label>
                  <input type="text" class="form-control" placeholder="Nombre" [value]="user.Username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" [value]="user.Password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Email"
                    [value]="user.Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" placeholder="Telefono" [value]="user.PhoneNumber">
                </div>
              </div>
            </div>
            <hr>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" [src]="user.PhotoDirectory" alt="...">
              <h5 class="title">{{user.Username}}</h5>
            </a>
            <p class="description">
              {{user.Email}}
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>